<% layout('layout') %>
<%=user%>
<div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	<a logout href="/logout" class="btn btn-default btn-sm">Logout</a>
	<a logout href="/user/<%=user._id%>/edit" class="btn btn-default btn-sm">Edit</a>
	<a logout href="/plans" class="btn btn-default btn-sm">Upgrade</a>
</div>
</div>
<!--personal information-->
<div class="row">
	<div class="col-sm-6">
		<div class="well">
			<p>
				<strong>Role:</strong><%=user.role%><br>
				<strong>Email:</strong><%=user.local.email%><br>
				<strong>Phone:</strong><%=user.phone%><br>
				<strong>Address:</strong><%=user.address%>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<!-- LOCAL INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>
			<!-- if signin local-->
			<% if (typeof(user.local.email)!="undefined") { %>
			  	<container>
					<p>
						<strong>id</strong>: <%=user.local.id%><br>
						<strong>email</strong>:<%=user.local.email%><br>
						<strong>name</strong>:<%=user.local.password%>
					</p>
					<a redir href="/unlink/local" class="btn btn-default">Unlink</a>
				</container>
				<container>
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				</container>
			<% } %>
			<!-- if signin local-->

		</div>
	</div>

	<!-- FACEBOOK INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
			<!-- if signin through facebook-->
			<%if (typeof(user.facebook.id)!="undefined") { %>
			  	<container>
					<p>
						<strong>id</strong>: <%=user.facebook.id%><br>
						<strong>token</strong>:<%=user.facebook.token%><br>
						<strong>email</strong>:<%=user.facebook.email%><br>
						<strong>name</strong>:<%=user.facebook.name%>
					</p>
					<a redir href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				</container>
				<container>
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				</container>
			<% } %>
			<!-- if signin through facebook-->
		</div>
	</div>
</div>
<div class="row">

	<!-- TWITTER INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
			<!-- if signin through twitter-->
			<%if (typeof(user.twitter.id)!="undefined") { %>
			  	<container>
					<p>
						<strong>id</strong>: <%=user.twitter.id%><br>
						<strong>token</strong>:<%=user.twitter.token%><br>
						<strong>email</strong>:<%=user.twitter.displayName%><br>
						<strong>name</strong>:<%=user.twitter.username%>
					</p>
					<a redir href="/unlink/twitter" class="btn btn-danger">Unlink</a>
				</container>
				<container>
					<a redir href="/connect/twitter" class="btn btn-danger">Connect Twitter</a>
				</container>
			<% } %>
			<!-- if signin through twitter-->

		</div>
	</div>

	<!-- GOOGLE INFORMATION -->
	<div class="col-sm-6">
		<div class="well">
			<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>
			<!-- if signin through google-->
			<%if (typeof(user.google.id)!="undefined") { %>
			  	<container>
					<p>
						<strong>id</strong>: <%=user.google.id%><br>
						<strong>token</strong>:<%=user.google.token%><br>
						<strong>email</strong>:<%=user.google.email%><br>
						<strong>name</strong>:<%=user.google.name%>
					</p>
					<a redir href="/unlink/google" class="btn btn-danger">Unlink</a>
				</container>
				<container>
					<a redir href="/connect/google" class="btn btn-danger">Connect Google</a>
				</container>
			<% } %>
			<!-- if signin through google-->

		</div>
	</div>
</div>
